@using TodaHora.Models

@{
    LoginCookiesAtual.getCookies();
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodaHora - @ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="~/Content/images/cart.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="https://cdn.materialdesignicons.com/3.4.93/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="~/Content/styles/LayoutStyle.css" rel="stylesheet" />
    <link href="~/Content/styles/UserSheet.css" rel="stylesheet" />
    <link href="~/Content/styles/style.css" rel="stylesheet" />
</head>
<body>
    <header>
        <a href="@Url.Action("Index", "Home")" class="redirect-home"><img src="~/Content/images/client_logo.svg" alt="Logo Supermercado TodaHora" /></a>

        <div class="user-information">
            <abbr title="Informações de usuário" style="text-decoration: none;">
                <a href="@Url.Action("UserProfile", "Usuario", new {LoginCookiesAtual.user_Id})" class="profile-info">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#000000" class="bi bi-globe" viewBox="0 0 16 16">
                        <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855A7.97 7.97 0 0 0 5.145 4H7.5V1.077zM4.09 4a9.267 9.267 0 0 1 .64-1.539 6.7 6.7 0 0 1 .597-.933A7.025 7.025 0 0 0 2.255 4H4.09zm-.582 3.5c.03-.877.138-1.718.312-2.5H1.674a6.958 6.958 0 0 0-.656 2.5h2.49zM4.847 5a12.5 12.5 0 0 0-.338 2.5H7.5V5H4.847zM8.5 5v2.5h2.99a12.495 12.495 0 0 0-.337-2.5H8.5zM4.51 8.5a12.5 12.5 0 0 0 .337 2.5H7.5V8.5H4.51zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5H8.5zM5.145 12c.138.386.295.744.468 1.068.552 1.035 1.218 1.65 1.887 1.855V12H5.145zm.182 2.472a6.696 6.696 0 0 1-.597-.933A9.268 9.268 0 0 1 4.09 12H2.255a7.024 7.024 0 0 0 3.072 2.472zM3.82 11a13.652 13.652 0 0 1-.312-2.5h-2.49c.062.89.291 1.733.656 2.5H3.82zm6.853 3.472A7.024 7.024 0 0 0 13.745 12H11.91a9.27 9.27 0 0 1-.64 1.539 6.688 6.688 0 0 1-.597.933zM8.5 12v2.923c.67-.204 1.335-.82 1.887-1.855.173-.324.33-.682.468-1.068H8.5zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.65 13.65 0 0 1-.312 2.5zm2.802-3.5a6.959 6.959 0 0 0-.656-2.5H12.18c.174.782.282 1.623.312 2.5h2.49zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7.024 7.024 0 0 0-3.072-2.472c.218.284.418.598.597.933zM10.855 4a7.966 7.966 0 0 0-.468-1.068C9.835 1.897 9.17 1.282 8.5 1.077V4h2.355z" />
                    </svg>
                    <span class="user-name">@LoginCookiesAtual.nome.ToString()</span>
                </a>
            </abbr>

            <abbr title="Logout">
                <a href="@Url.Action("LogOut", "Login")" class="LogOut">
                    <svg width="25" height="25" viewBox="0 0 25 25" fill="#000000" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.6667 17.7084V14.5834H9.375V10.4167H16.6667V7.29171L21.875 12.5L16.6667 17.7084ZM14.5833 2.08337C15.1359 2.08337 15.6658 2.30287 16.0565 2.69357C16.4472 3.08427 16.6667 3.61417 16.6667 4.16671V6.25004H14.5833V4.16671H5.20833V20.8334H14.5833V18.75H16.6667V20.8334C16.6667 21.3859 16.4472 21.9158 16.0565 22.3065C15.6658 22.6972 15.1359 22.9167 14.5833 22.9167H5.20833C4.6558 22.9167 4.12589 22.6972 3.73519 22.3065C3.34449 21.9158 3.125 21.3859 3.125 20.8334V4.16671C3.125 3.61417 3.34449 3.08427 3.73519 2.69357C4.12589 2.30287 4.6558 2.08337 5.20833 2.08337H14.5833Z" fill="black" />
                    </svg>
                </a>
            </abbr>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <div class="market-info-wrapper">
            <div class="help">
                <ul>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Questions</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Politicas de seguraça</a></li>
                </ul>
            </div>

            <div class="contacts">
                <h5>Support Contacts</h5>
                <ul>
                    <li>
                        <a href="#"><i class="bi bi-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="bi bi-instagram"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="bi bi-whatsapp"></i></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="support-info-wrapper">

        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    <script src="~/Scripts/bootstrap.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
