@model TodaHora.Models.Usuario
@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper_default">


    <h1>Edição de usuário</h1>

    <div class="actions_buttons">
        <button class="btn" disabled>Salvar</button>
        <button class="btn">Editar</button>
        <button class="btn">Desativar</button>
        <a href="@Url.Action("Index", "Usuario")" class="btn">Voltar à lista</a>
    </div>

    <div class="form_group">

        <div class="form_group_inputs details_inputs">
            <div>
                @Html.LabelFor(m => m.Pessoa.Nome, "Nome", new { @class = "" })
                @Html.TextBoxFor(m => m.Pessoa.Nome, new { @class = "", disabled = "true" })
            </div>

            <div>
                @Html.LabelFor(m => m.Pessoa.Sobrenome, "Sobrenome", new { @class = "" })
                @Html.TextBoxFor(m => m.Pessoa.Sobrenome, new { @class = "", disabled = "true" })
            </div>

            <div>
                @Html.LabelFor(m => m.Pessoa.DataNascimento, "Data de Nascimento", new { @class = "" })
                <input type="datetime" class="" id="Pessoa.DataNascimento" name="Pessoa.DataNascimento" value="@Model.Pessoa.DataNascimento.Value.ToShortDateString()" disabled />
            </div>

            <div>
                @Html.LabelFor(m => m.Pessoa.Cpf, "CPF", new { @class = "" })
                @Html.TextBoxFor(m => m.Pessoa.Cpf, new { @class = "cpf", disabled = "true" })
            </div>

            <div>
                @Html.LabelFor(m => m.Pessoa.Telefone, "Telefone", new { @class = "" })
                @Html.TextBoxFor(m => m.Pessoa.Telefone, new { @class = "telefone", disabled = "true" })
            </div>

            <div>
                @Html.LabelFor(m => m.Pessoa.Sexo.Descricao, "Sexo", new { @class = "" })
                <select id="Pessoa.Sexo" name="Pessoa.Sexo" disabled>
                    @foreach (var sexo in ViewBag.SexoList)
                    {

                        if (sexo.Sexo_Id == Model.Pessoa.Sexo.Sexo_Id)
                        {
                            <option value="@sexo.Sexo_Id" selected>@sexo.Descricao</option>
                        }
                        else
                        {
                            <option value="@sexo.Sexo_Id">@sexo.Descricao</option>
                        }
                    }

                </select>
            </div>

            <div>
                @Html.LabelFor(m => m.Username, "Username", new { @class = "" })
                @Html.TextBoxFor(m => m.Username, new { @class = "", disabled = "true" })
            </div>

            <div>
                @Html.LabelFor(m => m.Email, "E-mail", new { @class = "" })
                @Html.TextBoxFor(m => m.Email, new { @class = "", disabled = "true" })
            </div>

            <div>
                @Html.LabelFor(m => m.blnAdmin, "Perfil", new { @class = "" })
                @if (Model.blnAdmin == true)
                {<input type="text" value="Administrador" disabled /> }
                else
                { <input type="text" value="Usuário" disabled />}
            </div>

            <div>
                @Html.LabelFor(m => m.blnAtivo, "Status", new { @class = "" })
                @if (Model.blnAtivo == true)
                {<input type="text" value="Ativo" disabled /> }
                else
                { <input type="text" value="Inativo" disabled />}
            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script src="~/Scripts/jquery.mask.js"></script>
    <script src="~/Scripts/jquery.mask.min.js"></script>
    <script>

        $(document).ready(function () {

            $(".telefone").mask("(00) 00000-0000");
            $(".cpf").mask("000.000.000-00");



        });
    </script>
}
