@model TodaHora.Models.Usuario
@{
    ViewBag.Title = "Defina suas credênciais";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper_default">

    <h1>Definir seu acesso</h1>

    <form action="@Url.Action("SetCredentials")" method="post" class="SetCredentialsForm">
        <div>
            <div>
                @Html.LabelFor(m => m.Username, "Nome de usuário")
                @Html.TextBoxFor(m => m.Username)
            </div>

            <div>
                @Html.LabelFor(m => m.Senha, "Senha")
                @Html.TextBoxFor(m => m.Senha)
            </div>

            <div>
                <label>Confirmar senha</label>
                <input type="text" name="ConfirmarSenha" id="ConfirmarSenha" />
            </div>
        </div>

        <div class="validation_credentials">

        </div>

        <div>
            <button id="btn_save">Salvar</button>
            <button id="btn_cancel">Cancelar</button>
        </div>
    </form>
</div>