@using TodaHora.Models
@using TodaHora.Models.Utils
@model IEnumerable<TodaHora.Models.Usuario>
@{
    ViewBag.Title = "Informações de usuário";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container_wrapper_user">

    <h1>Detalhes de usuário</h1>

    <div class="container_user">
        <nav class="nav_user">
            <h3>Informações</h3>

            <ul class="user_info_list">
                <li><a href="#profile" id="profileLink">Pessoais</a></li>
                <li><a href="#account" id="accountLink">Conta</a></li>
                <li><a href="#account_password" id="accountPasswordLink">Senha</a></li>
            </ul>
        </nav>

        <section class="details_user">

            @Html.HiddenFor(m => m.First().Usuario_Id, htmlAttributes: new { @class = "usuario_id" })

            <section class="profile" id="profile">

                <div class="wrapper_user_name">
                    <div>
                        @Html.LabelFor(m => m.First().Pessoa.Nome, htmlAttributes: new { @class = "form_label_custom" })
                        <div>
                            @Html.TextBoxFor(m => m.First().Pessoa.Nome, new { @class = "form_input_custom nome", @disabled = "disabled", @required = "required" })
                        </div>
                    </div>

                    <div>
                        @Html.LabelFor(m => m.First().Pessoa.Sobrenome, htmlAttributes: new { @class = "form_label_custom" })
                        <div>
                            @Html.TextBoxFor(m => m.First().Pessoa.Sobrenome, new { @class = "form_input_custom sobrenome", @disabled = "disabled", @required = "required" })
                        </div>
                    </div>
                </div>

                <div class="wrapper_user">

                    <div class="container_info">
                        @Html.LabelFor(m => m.First().Pessoa.Cpf, "CPF", htmlAttributes: new { @class = "form_label_custom" })
                        <div>
                            @Html.Raw($"<input type='text' name='Pessoa.Cpf' id='Pessoa.Cpf' value='{Model.First().Pessoa.Cpf}' class='form_input_custom cpf' disabled required>")
                        </div>
                    </div>

                    <div class="container_info">
                        @Html.LabelFor(m => m.First().Pessoa.DataNascimento, "Data Nascimento", htmlAttributes: new { @class = "form_label_custom" })
                        <div>
                            @Html.Raw($"<input type='datetime' name='Pessoa.DataNascimento' id='Pessoa.DataNascimento' value='{Convert.ToDateTime(Model.First().Pessoa.DataNascimento.Value).ToString("dd/MM/yyyy")}' class='form_input_custom dataNascimento' disabled required>")
                        </div>
                    </div>

                    <div class="container_info">
                        @Html.LabelFor(m => m.First().Pessoa.Sexo.Descricao, "Gênero", htmlAttributes: new { @class = "form_label_custom" })
                        <div>
                            <select class="form_input_custom sexo" disabled name="Pessoa.Sexo" id="Pessoa.Sexo" required>
                                @foreach (var genero in ViewBag.GeneroList)
                                {

                                    if (genero.Sexo_Id == Model.First().Pessoa.Sexo.Sexo_Id)
                                    {
                                        @Html.Raw($"<option value='{genero.Sexo_Id}' selected>{genero.Descricao}</option>")
                                    }
                                    else
                                    {
                                        @Html.Raw($"<option value='{genero.Sexo_Id}'>{genero.Descricao}</option>")
                                    }
                                }

                            </select>
                        </div>
                    </div>

                    <div class="container_info">
                        @Html.LabelFor(m => m.First().Pessoa.Telefone, "Contato", htmlAttributes: new { @class = "form_label_custom" })
                        <div>
                            @Html.Raw($"<input type='text' name='Pessoa.Telefone' id='Pessoa.Telefone' value='{FormatTelefone.FormatTel(Model.First().Pessoa.Telefone)}' class='form_input_custom contato' disabled required>")
                        </div>
                    </div>
                </div>

                <div class="btn_confirmation_pessoal">
                    <button id="btnEditProfile" class="btn btn-primary">Editar</button>
                    <button id="blnSaveProfile" class="btn btn-success">Salvar</button>
                </div>

            </section>

            <section class="account" id="account">

                <div class="wrapper_username">

                    <div>
                        @Html.LabelFor(m => m.First().Username, "Nome de usuário", htmlAttributes: new { @class = "form_label_custom" })
                        <div>
                            @Html.TextBoxFor(m => m.First().Username, new { @class = "form_input_custom username", @disabled = "disabled" })
                        </div>
                    </div>

                </div>

                <div class="wrapper_user_mail">
                    <div>
                        @Html.LabelFor(m => m.First().Email, "E-mail", htmlAttributes: new { @class = "form_label_custom" })
                        <div>
                            @Html.TextBoxFor(m => m.First().Email, new { @class = "form_input_custom email", @disabled = "disabled" })
                        </div>
                    </div>
                </div>

                <div class="btn_confirmation_account">
                    <button id="btnEditAccount" class="btn btn-primary">Editar</button>
                    <button id="blnSaveAccount" class="btn btn-success">Salvar</button>
                </div>

            </section>

            <section class="account_password" id="account_password">

                <div class="wrapper_user_password">
                    <div>
                        @Html.LabelFor(m => m.First().Senha, "Senha", htmlAttributes: new { @class = "form_label_custom" })
                        <div>
                            @Html.Raw($"<input type='password' name='Usuario.Senha' id='Usuario.Senha' value='{Model.First().Senha}' class='form_input_custom password' disabled/>")
                        </div>
                    </div>

                    <div>
                        @Html.Raw($"<label class='form_label_custom' for='Usuario.SenhaConfirmacao'>Senha Confirmação</label>")
                        <div>
                            @Html.Raw($"<input type='password' name='Usuario.SenhaConfirmacao' id='Usuario.SenhaConfirmacao' value='' class='form_input_custom passwordConfirmation' disabled/>")
                        </div>
                    </div>
                </div>

                <div class="btn_confirmation_password">
                    <button id="btnEditPassword" class="btn btn-primary">Editar</button>
                    <button id="blnSavePassword" class="btn btn-success">Salvar</button>
                </div>
            </section>
        </section>
    </div>




</div>

@section Scripts{
    <script src="~/Scripts/jquery.mask.js"></script>
    <script src="~/Scripts/jquery.mask.min.js"></script>
    <script>
        window.onload = onLoadLayout();

        $(document).ready(function () {

            //Masks Sections
            $(".cpf").mask("000.000.000-00");
            $(".contato").mask("(00) 00000-0000");
            $(".dataNascimento").mask("00/00/0000");


            $("#profileLink").on("click", function () {
                let divProfile = document.getElementById("profile");
                let divAccount = document.getElementById("account");
                let divAccountPass = document.getElementById("account_password");

                divProfile.style.display = "flex";
                divAccount.style.display = "none";
                divAccountPass.style.display = "none";
            });

            $("#accountLink").on("click", function () {
                let divProfile = document.getElementById("profile");
                let divAccount = document.getElementById("account");
                let divAccountPass = document.getElementById("account_password");

                divProfile.style.display = "none";
                divAccount.style.display = "flex";
                divAccountPass.style.display = "none";
            });

            $("#accountPasswordLink").on("click", function () {
                let divProfile = document.getElementById("profile");
                let divAccount = document.getElementById("account");
                let divAccountPass = document.getElementById("account_password");

                divProfile.style.display = "none";
                divAccount.style.display = "none";
                divAccountPass.style.display = "flex";
            });


            // Libera campos para edição
            $("#btnEditProfile").on("click", function () {
                let nome = document.querySelector(".nome");
                let sobrenome = document.querySelector(".sobrenome");
                let dataNascimento = document.querySelector(".dataNascimento");
                let cpf = document.querySelector(".cpf");
                let telefone = document.querySelector(".contato");
                let sexo = document.querySelector(".sexo");

                nome.disabled = false;
                sobrenome.disabled = false;
                dataNascimento.disabled = false;
                cpf.disabled = false;
                telefone.disabled = false;
                sexo.disabled = false;
            });

            $("#btnEditAccount").on("click", function () {
                let username = document.querySelector(".username");
                let email = document.querySelector(".email");

                username.disabled = false;
                email.disabled = false;
            });

            $("#btnEditAccount").on("click", function () {
                let password = document.querySelector(".password");
                let passwordConfirmation = document.querySelector(".passwordConfirmation");

                password.disabled = false;
                passwordConfirmation.disabled = false;
            });

            $("#blnSaveProfile").on("click", function () {

                document.querySelector(".nome").disabled = true;
                document.querySelector(".sobrenome").disabled = true;
                document.querySelector(".dataNascimento").disabled = true;
                document.querySelector(".cpf").disabled = true;
                document.querySelector(".contato").disabled = true;
                document.querySelector(".sexo").disabled = true;

                if (document.querySelector(".nome").value != "" && document.querySelector(".sobrenome").value != "" && document.querySelector(".dataNascimento").value != "" && document.querySelector(".dataNascimento").value != null && document.querySelector(".cpf").value != "" && document.querySelector(".contato").value != "" && document.querySelector(".sexo").value != "") {
                    let settings = {
                        "url": "@Url.Action("EditProfile", "Usuario")",
                        "method": "POST",
                        "timeout": 0,
                        "headers": {
                            "Content-Type": "application/json"
                        },
                        "data": JSON.stringify({
                            "usuario_Id": document.querySelector(".usuario_id").value,
                            "nome": document.querySelector(".nome").value,
                            "sobrenome": document.querySelector(".sobrenome").value,
                            "dataNascimento": document.querySelector(".dataNascimento").value,
                            "cpf": document.querySelector(".cpf").value,
                            "telefone": document.querySelector(".contato").value,
                            "sexo": document.querySelector(".sexo").value
                        }),
                    };

                    $.ajax(settings).done(function (response) {
                        alert("Atualização de informações realizada com sucesso!");
                        window.location.reload();
                    });
                }
                else {
                    alert("Preencha todos os campos para realizar a edição!");
                    window.location.reload();
                }
            });
        });

        function onLoadLayout() {
            let divAccount = document.getElementById("account");
            let divAccountPass = document.getElementById("account_password");
            divAccount.style.display = "none";
            divAccountPass.style.display = "none";
        }
    </script>
}